#samples {
    height: 100%;
    width: 100%;

}

#set-display{
    padding: 15px;
    width: 95%;
    text-align: center;
    background-color: yellowgreen;
    border-radius: 24px;
    margin-top: 19px;
}