:root {
    --main-bg-color: #97CAEF;
    --active-color: #FC4445;
    --rest-color: #55BCC9;
    --set-info-color: #3FEEE6;
    --border-rad: 25px;
}

html {
    background-color: var(--main-bg-color);
}

body {
    height: 100%;
    /* force the BODY element to match the height of the HTML element */
}

.rest {
    margin-top: 10px;
    background-color: var(--rest-color);
    padding: 10px;
    border-radius: var(--border-rad);
    width: 85%;
    text-align: center;
}

.workout {
    margin-top: 10px;
    background-color: var(--active-color);
    padding: 10px;
    border-radius: var(--border-rad);
    width: 100%;
    text-align: center;
    color: wheat;
}

.summary .done h1 {
    text-align: center;

}

.maxReps .workoutRest .reps {
    max-width: 150px;
    size: 100px;
}

.app-container {
    background-color: var(--main-bg-color);
    /* padding-top: 45px; */
}

.header {
    height: 40px;
    position: fixed;
    bottom: 100%;
    top: 0%;
    width: 100%;
    background-color: #747474;
    opacity: 0.75;
    text-align: center;
}

.set-label {
    font-size: large;
}

#samples {
    height: 100%;
    width: 100%;

}

.set-display {
    align-content: center;
    text-align: center;
    margin-top: 11px;
}